.file-uploader input {
    margin-top: 1rem;
    padding: 0.5rem;
  }
  
  .message {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  
  .message.harmful {
    color: red;
    animation: blink 1s step-start infinite;
  }
  
  .message.safe {
    color: #33ff33;
  }
  
  @keyframes blink {
    50% {
      color: blue;
    }
  }
  