body {
  background-color: #0f0f0f;
  color: #33ff33;
  font-family: 'Courier New', Courier, monospace;
}

.App {
  text-align: center;
  padding: 2rem;
}

.title {
  color: #33ff33;
  font-size: 3rem;
  margin-bottom: 2rem;
}
